

:root {
  --bg: #162C27;
  --seg-outline: #1c6f6d;
  --seg-bg: #113c3a;
  --seg-fill: #7f6f5e;
  --card: #FFBB98;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.685);
  --radius: 14px;
  --pill: 999px;
}

html,
body,
#root {
  height: 10;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--bg);
  min-width: 500px;
}


.attendeespage {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  place-items: center;
  place-content: center;
  padding: 24px;
  background: var(--bg);
}


.attendeescard {
  width: min(920px, 92vw);
  background: var(--card);
  border-radius: 22px;
  padding: 28px 28px 24px;
}

.attendeescard-header {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  position: center;
}

.attendeestitle {
  margin: 0;
  font-size: 22px;
  font-weight: 800;
  color: var(--bg);
}

.attendeestab {
  position: absolute;
  left: 46%;
  background: var(--bg);
  color: var(--card);
  padding: 10px 22px;
  border-radius: 999px;
  font-weight: 700;
  box-shadow: var(--shadow)
}


.attendeeslist {
  list-style: none;
  padding: 0;
  margin: 6px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.attendee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 999px;
  padding: 14px 18px 14px 22px;
  box-shadow: var(--shadow)
}

.attendee.checked {
  background: var(--bg);
  color: var(--card);
}

.attendee.unchecked {
  background: var(--card);
  color: var(--bg);
  border: 2px solid var(--shadow);
  box-shadow: var(--shadow)
}

.attendeesname {
  font-weight: 800;
}


.switch {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.switch input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}


.track {
  position: relative;
  width: 56px;
  height: 28px;
  border-radius: 999px;
  display: inline-block;
  transition: all .2s ease;
  border: 2px solid var(--card);
}


.switch.off .track {
  background: var(--card);
  border-color: var(--shadow);
}

.thumb {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 18px;
  height: 18px;
  transform: translate(0, -50%);
  border-radius: 50%;
  background: var(--bg);
  box-shadow: var(--shadow);
  transition: transform .2s ease, background-color .2s ease;
}


.switch.on .track {
  background: var(--bg);
  border-color: var(--card);
}

.switch.on .thumb {
  transform: translate(26px, -50%);
  background: var(--card);
}


.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.btn {
  background: var(--bg);
  color: var(--card);
  border: none;
  padding: 12px 22px;
  border-radius: 999px;
  font-weight: 800;
  cursor: pointer;
  box-shadow: var(--shadow)
}